* {
	box-sizing: border-box;
}

body {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	background-color: #544341;
}

h1, h2 {
	margin-top: 0;
}

.answers {
	margin-bottom: 15px;
}

/* Thanks to https://css-tricks.com/centering-css-complete-guide/ for help on centering child div */
.child {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-image: url('images/sunset.jpg');
	color: white;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);

	-webkit-box-shadow: 5px 5px 15px 8px rgba(0,0,0,0.67);
	-moz-box-shadow: 5px 5px 15px 8px rgba(0,0,0,0.67);
	box-shadow: 5px 5px 15px 8px rgba(0,0,0,0.67);

	padding: 20px;
	font-size: 1.25em;
}

/* I want some big honken radio buttons good on mobile and tablet */
input[type='radio'] { 
	transform: scale(2); 
	margin-right: 10px; 
	margin-bottom: 10px;
}

.question {
	font-size: 1.5em;
}

.answers .result {
	display: none;
}

.frmSuvery .totals {
	display: none;
}

.percent-graph {
	width: 100px;
	display: inline-block;
	margin-right: 10px;
}

.percent-graph .bar {
	background-color: orange;
    border: 1px solid black;
    display: inline-block;
    height: 10px;
}

.voted .percent-graph .bar {
	background-color: red;
}

.redButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.redButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.redButton:active {
	position:relative;
	top:1px;
}

button.redButton[disabled=disabled] {
    background: gray;
    border: 1px solid gray;
    box-shadow: 3px 4px 0 0 #000;
    text-shadow: 0 1px 0px #000;
}


/* PHONE and TABLET */
@media screen and (max-width: 700px) {
	.parent {
		margin: 0;
		background-image: url('images/sunset.jpg');
	}
	.child {
		position: static;
		transform: none;
		border-radius:0;

		text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);

		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		padding: 10px;
		margin: 0;
		padding-right: 20px;

		font-size: 1.5em;
	}

}
